streamlit
requests
matplotlib
numpy
pandas
seaborn
joblib
notebook
seaborn
scikit-learn==1.2.1
scipy>=0.15.1
nltk==3.5
jsonschema==3.2.0
lxml==4.6.3
urllib3==1.26.5
pickleshare==0.7.5
tmdbv3api
